<form action="/users/{{id}}/listings/add" method="post">
    Title: <input type="text" name="newtitle" />
    <br>
    Price: <input type="text" name="newprice" />
    <br>
    Desc: <input type="text" name="newdesc" />
    <input type="submit" value="Add Item" />
</form>